<html>
    <head>
        <title>Delete page</title>
        <link rel="stylesheet" type="text/css" href="./stylesheets/delete.css"/>
        <link rel="stylesheet" type="text/css" href="./stylesheets/nav.css"/>
        <script type="application/javascript" src="./javascripts/delete.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="page">
            <div class="delete-title"><h1>Delete ME</h1></div>
            <div class = "delete-user">
                <input type="email" class="delete" id="delete" placeholder="Enter your email" required></input>
            </div>
            <div class="delete-btn">
                <button type="submit" class="delete-click" onclick="deleteUser()">Delete me</button>
            </div>
            <div id="deleteMsg">

            </div>
        </div>
    </body>
    <script type="application/javascript" src="./javascripts/nav.js"></script>
</html>