<html>
    <head>
        <title>Update Page</title>
        <link rel="stylesheet" type="text/css" href="./stylesheets/update.css"/>
        <link rel="stylesheet" type="text/css" href="./stylesheets/nav.css"/>
        <script type="application/javascript" src="./javascripts/update.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="update-body">
            <div class="update-data"><h1>Update your Info</h1></div>
            <div class="email-input">
                <input type="email" class="email" id="email"  placeholder="Enter your email" required>
            </div>
            <div class="email-input">
                <input type="text" class="email" id="name" placeholder="Enter your new name" required>
            </div>
            <div class="btn-contain">
                <button type="submit" class="Update" onclick="updateUser()">Update</div>
            </div>
            <div id="updateMsg"></div>
        </div>
        <script type="application/javascript" src="./javascripts/nav.js"></script>
    </body>
</html>